name: ACM Node exporter merger

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1' #@weekly
  pull_request:
    paths:
    - '.github/workflows/merge-acm-flow.yaml'
    - '.github/workflows/merge-acm-node-exporter.yaml'
  push:
    paths:
    - '.github/workflows/merge-acm-flow.yaml'
    - '.github/workflows/merge-acm-node-exporter.yaml'
jobs:
  node-exporter-merge:
    uses: ./.github/workflows/merge-acm-flow.yaml
    with:
      upstream: prometheus/node_exporter
      downstream: stolostron/node-exporter
      sandbox: rhobs/acm-node-exporter
      go-version: "1.23"
      restore-downstream: >-
         OWNERS
      restore-upstream: >-
         CHANGELOG.md
         VERSION
         collector
         go.mod
         go.sum
    secrets:
      pr-app-id: ${{ secrets.ACM_APP_ID }}
      pr-app-private-key: ${{ secrets.ACM_APP_PRIVATE_KEY }}
      cloner-app-id: ${{ secrets.ACM_CLONER_APP_ID }}
      cloner-app-private-key: ${{ secrets.ACM_CLONER_APP_PRIVATE_KEY }}
      slack-webhook-url: ${{ secrets.ACM_SLACK_WEBHOOK_URL }}
